@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-dark: #0f0f0f;
  --color-surface: #1a1a1a;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-dark);
  color: white;
  font-family: var(--font-sans);
}
